In [1]:
import pandas as pd
import numpy as np

import pyspark
from pyspark.sql import SparkSession

In [2]:

spark = SparkSession.builder.appName("Practice").getOrCreate()

In [3]:
df_pyspark = spark.read.csv("selling_cars_list.csv")
df_cars = spark.read.option('header', 'true').csv('selling_cars_list.csv', inferSchema=True)

In [4]:
df_pyspark.show()

+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+
|                 _c0|            _c1|          _c2|      _c3|   _c4|        _c5|         _c6|         _c7|       _c8|    _c9|      _c10|                _c11| _c12|
+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+
|                name|           year|selling_price|km_driven|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|              torque|seats|
|Maruti Swift Dzir...|           2014|       450000|   145500|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|      190Nm@ 2000rpm|    5|
|Skoda Rapid 1.5 T...|           2014|       370000|   120000|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp| 250Nm@ 1500-2500rpm|    5|
|"Honda City 2017-...|700(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|Hyundai i20 Sport...|           2010|       225000|   127000|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|"Maruti Swift VXI...|500(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|Hyundai Xcent 1.2...|           2017|       440000|    45000|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|   113.75nm@ 4000rpm|    5|
|"Maruti Wagon R L...|500(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|  Maruti 800 DX BSII|           2001|        45000|     5000|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|       59Nm@ 2500rpm|    4|
|    Toyota Etios VXD|           2011|       350000|    90000|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp| 170Nm@ 1800-2400rpm|    5|
|Ford Figo Diesel ...|           2013|       200000|   169000|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|      160Nm@ 2000rpm|    5|
|Renault Duster 11...|           2014|       500000|    68000|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|      248Nm@ 2250rpm|    5|
|       Maruti Zen LX|           2005|        92000|   100000|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|       78Nm@ 4500rpm|    5|
|Maruti Swift Dzir...|           2009|       280000|   140000|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|      190Nm@ 2000rpm|    5|
|Maruti Swift 1.3 VXi|           2007|       200000|    80000|Petrol| Individual|      Manual|Second Owner|      NULL|   NULL|      NULL|                NULL| NULL|
|Maruti Wagon R LX...|           2009|       180000|    90000|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|       84Nm@ 3500rpm|    5|
|Mahindra KUV 100 ...|           2016|       400000|    40000|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp| 115Nm@ 3500-3600rpm|    5|
|Maruti Ertiga SHV...|           2016|       778000|    70000|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|      200Nm@ 1750rpm|    7|
|Hyundai i20 1.4 C...|           2012|       500000|    53000|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|      Maruti Alto LX|           2002|       150000|    80000|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|       62Nm@ 3000rpm|    5|
+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+
only showing top 20 rows

In [5]:
df_pyspark = spark.read.option('header', 'true').csv('selling_cars_list.csv', inferSchema=True)

In [6]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- year: string (nullable = true)
 |-- selling_price: string (nullable = true)
 |-- km_driven: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- torque: string (nullable = true)
 |-- seats: integer (nullable = true)

In [7]:
df_pyspark.show()

+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+
|                name|           year|selling_price|km_driven|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|              torque|seats|
+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+
|Maruti Swift Dzir...|           2014|       450000|   145500|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|      190Nm@ 2000rpm|    5|
|Skoda Rapid 1.5 T...|           2014|       370000|   120000|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp| 250Nm@ 1500-2500rpm|    5|
|"Honda City 2017-...|700(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|Hyundai i20 Sport...|           2010|       225000|   127000|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|"Maruti Swift VXI...|500(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|Hyundai Xcent 1.2...|           2017|       440000|    45000|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|   113.75nm@ 4000rpm|    5|
|"Maruti Wagon R L...|500(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|  Maruti 800 DX BSII|           2001|        45000|     5000|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|       59Nm@ 2500rpm|    4|
|    Toyota Etios VXD|           2011|       350000|    90000|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp| 170Nm@ 1800-2400rpm|    5|
|Ford Figo Diesel ...|           2013|       200000|   169000|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|      160Nm@ 2000rpm|    5|
|Renault Duster 11...|           2014|       500000|    68000|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|      248Nm@ 2250rpm|    5|
|       Maruti Zen LX|           2005|        92000|   100000|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|       78Nm@ 4500rpm|    5|
|Maruti Swift Dzir...|           2009|       280000|   140000|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|      190Nm@ 2000rpm|    5|
|Maruti Swift 1.3 VXi|           2007|       200000|    80000|Petrol| Individual|      Manual|Second Owner|      NULL|   NULL|      NULL|                NULL| NULL|
|Maruti Wagon R LX...|           2009|       180000|    90000|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|       84Nm@ 3500rpm|    5|
|Mahindra KUV 100 ...|           2016|       400000|    40000|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp| 115Nm@ 3500-3600rpm|    5|
|Maruti Ertiga SHV...|           2016|       778000|    70000|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|      200Nm@ 1750rpm|    7|
|Hyundai i20 1.4 C...|           2012|       500000|    53000|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|      Maruti Alto LX|           2002|       150000|    80000|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|       62Nm@ 3000rpm|    5|
|Hyundai i20 2015-...|           2016|       680000|   100000|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|219.7Nm@ 1500-275...|    5|
+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+
only showing top 20 rows

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
df_pyspark.columns

['name',
 'year',
 'selling_price',
 'km_driven',
 'fuel',
 'seller_type',
 'transmission',
 'owner',
 'mileage',
 'engine',
 'max_power',
 'torque',
 'seats']

In [10]:
df_pyspark.head(3)

[Row(name='Maruti Swift Dzire VDI', year='2014', selling_price='450000', km_driven='145500', fuel='Diesel', seller_type='Individual', transmission='Manual', owner='First Owner', mileage='23.4 kmpl', engine='1248 CC', max_power='74 bhp', torque='190Nm@ 2000rpm', seats=5),
 Row(name='Skoda Rapid 1.5 TDI Ambition', year='2014', selling_price='370000', km_driven='120000', fuel='Diesel', seller_type='Individual', transmission='Manual', owner='Second Owner', mileage='21.14 kmpl', engine='1498 CC', max_power='103.52 bhp', torque='250Nm@ 1500-2500rpm', seats=5),
 Row(name='"Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,""12.7@ 2', year='700(kgm@ rpm)""', selling_price='5"', km_driven=None, fuel=None, seller_type=None, transmission=None, owner=None, mileage=None, engine=None, max_power=None, torque=None, seats=None)]

In [11]:
df_pyspark.select(["name","max_power"])

DataFrame[name: string, max_power: string]

In [12]:
df_pyspark.select(["name","max_power","km_driven"]).show()

+--------------------+----------+---------+
|                name| max_power|km_driven|
+--------------------+----------+---------+
|Maruti Swift Dzir...|    74 bhp|   145500|
|Skoda Rapid 1.5 T...|103.52 bhp|   120000|
|"Honda City 2017-...|      NULL|     NULL|
|Hyundai i20 Sport...|    90 bhp|   127000|
|"Maruti Swift VXI...|      NULL|     NULL|
|Hyundai Xcent 1.2...| 81.86 bhp|    45000|
|"Maruti Wagon R L...|      NULL|     NULL|
|  Maruti 800 DX BSII|    37 bhp|     5000|
|    Toyota Etios VXD|  67.1 bhp|    90000|
|Ford Figo Diesel ...|  68.1 bhp|   169000|
|Renault Duster 11...|108.45 bhp|    68000|
|       Maruti Zen LX|    60 bhp|   100000|
|Maruti Swift Dzir...|  73.9 bhp|   140000|
|Maruti Swift 1.3 VXi|      NULL|    80000|
|Maruti Wagon R LX...|    67 bhp|    90000|
|Mahindra KUV 100 ...|    82 bhp|    40000|
|Maruti Ertiga SHV...|  88.5 bhp|    70000|
|Hyundai i20 1.4 C...|    90 bhp|    53000|
|      Maruti Alto LX|  46.3 bhp|    80000|
|Hyundai i20 2015-...| 88.73 bhp|   100000|
+--------------------+----------+---------+
only showing top 20 rows

In [13]:
df_pyspark.dtypes

[('name', 'string'),
 ('year', 'string'),
 ('selling_price', 'string'),
 ('km_driven', 'string'),
 ('fuel', 'string'),
 ('seller_type', 'string'),
 ('transmission', 'string'),
 ('owner', 'string'),
 ('mileage', 'string'),
 ('engine', 'string'),
 ('max_power', 'string'),
 ('torque', 'string'),
 ('seats', 'int')]

In [14]:
df_pyspark.describe()

DataFrame[summary: string, name: string, year: string, selling_price: string, km_driven: string, fuel: string, seller_type: string, transmission: string, owner: string, mileage: string, engine: string, max_power: string, torque: string, seats: string]

In [15]:
df_pyspark.describe().show()

+-------+--------------------+------------------+-----------------+-----------------+------+----------------+------------+-----------+--------+-------+---------+--------------+-----------------+
|summary|                name|              year|    selling_price|        km_driven|  fuel|     seller_type|transmission|      owner| mileage| engine|max_power|        torque|            seats|
+-------+--------------------+------------------+-----------------+-----------------+------+----------------+------------+-----------+--------+-------+---------+--------------+-----------------+
|  count|                8127|              8127|             8127|             7836|  7786|            7786|        7786|       7786|    7565|   7565|     7571|          7565|             7565|
|   mean|                NULL|2014.0559979450295|656771.5358335474|68402.57397893655|  NULL|            NULL|        NULL|       NULL|    NULL|   NULL|      0.0|          NULL|5.421943159286187|
| stddev|                NULL|3.9083854139681184|817445.1548889049|56636.91820093501|  NULL|            NULL|        NULL|       NULL|    NULL|   NULL|      0.0|          NULL|0.954764655159725|
|    min|"Audi A4 1.8 TFSI...|         000 rpm""|        000 rpm""|                1|   CNG|          Dealer|   Automatic|First Owner|0.0 kmpl|1047 CC|        0|100Nm@ 2700rpm|                2|
|    max|Volvo XC90 T8 Exc...|             950-4|           999000|            99500|Petrol|Trustmark Dealer|      Manual|Third Owner|9.5 kmpl| 999 CC| 99.6 bhp| 99Nm@ 4500rpm|               14|
+-------+--------------------+------------------+-----------------+-----------------+------+----------------+------------+-----------+--------+-------+---------+--------------+-----------------+

In [16]:
## Adding Columns in data frame
df_pyspark.withColumn('selling_price_with_tax', df_pyspark['selling_price'] + 200).show()

+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+----------------------+
|                name|           year|selling_price|km_driven|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|              torque|seats|selling_price_with_tax|
+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+----------------------+
|Maruti Swift Dzir...|           2014|       450000|   145500|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|      190Nm@ 2000rpm|    5|              450200.0|
|Skoda Rapid 1.5 T...|           2014|       370000|   120000|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp| 250Nm@ 1500-2500rpm|    5|              370200.0|
|"Honda City 2017-...|700(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|                  NULL|
|Hyundai i20 Sport...|           2010|       225000|   127000|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|              225200.0|
|"Maruti Swift VXI...|500(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|                  NULL|
|Hyundai Xcent 1.2...|           2017|       440000|    45000|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|   113.75nm@ 4000rpm|    5|              440200.0|
|"Maruti Wagon R L...|500(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|                  NULL|
|  Maruti 800 DX BSII|           2001|        45000|     5000|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|       59Nm@ 2500rpm|    4|               45200.0|
|    Toyota Etios VXD|           2011|       350000|    90000|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp| 170Nm@ 1800-2400rpm|    5|              350200.0|
|Ford Figo Diesel ...|           2013|       200000|   169000|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|      160Nm@ 2000rpm|    5|              200200.0|
|Renault Duster 11...|           2014|       500000|    68000|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|      248Nm@ 2250rpm|    5|              500200.0|
|       Maruti Zen LX|           2005|        92000|   100000|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|       78Nm@ 4500rpm|    5|               92200.0|
|Maruti Swift Dzir...|           2009|       280000|   140000|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|      190Nm@ 2000rpm|    5|              280200.0|
|Maruti Swift 1.3 VXi|           2007|       200000|    80000|Petrol| Individual|      Manual|Second Owner|      NULL|   NULL|      NULL|                NULL| NULL|              200200.0|
|Maruti Wagon R LX...|           2009|       180000|    90000|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|       84Nm@ 3500rpm|    5|              180200.0|
|Mahindra KUV 100 ...|           2016|       400000|    40000|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp| 115Nm@ 3500-3600rpm|    5|              400200.0|
|Maruti Ertiga SHV...|           2016|       778000|    70000|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|      200Nm@ 1750rpm|    7|              778200.0|
|Hyundai i20 1.4 C...|           2012|       500000|    53000|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|              500200.0|
|      Maruti Alto LX|           2002|       150000|    80000|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|       62Nm@ 3000rpm|    5|              150200.0|
|Hyundai i20 2015-...|           2016|       680000|   100000|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|219.7Nm@ 1500-275...|    5|              680200.0|
+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+----------------------+
only showing top 20 rows

In [17]:
## Drop columns
df_pyspark=df_pyspark.drop('seller_type')

In [18]:
df_pyspark.show()

+--------------------+---------------+-------------+---------+------+------------+------------+----------+-------+----------+--------------------+-----+
|                name|           year|selling_price|km_driven|  fuel|transmission|       owner|   mileage| engine| max_power|              torque|seats|
+--------------------+---------------+-------------+---------+------+------------+------------+----------+-------+----------+--------------------+-----+
|Maruti Swift Dzir...|           2014|       450000|   145500|Diesel|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|      190Nm@ 2000rpm|    5|
|Skoda Rapid 1.5 T...|           2014|       370000|   120000|Diesel|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp| 250Nm@ 1500-2500rpm|    5|
|"Honda City 2017-...|700(kgm@ rpm)""|           5"|     NULL|  NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|Hyundai i20 Sport...|           2010|       225000|   127000|Diesel|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|"Maruti Swift VXI...|500(kgm@ rpm)""|           5"|     NULL|  NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|Hyundai Xcent 1.2...|           2017|       440000|    45000|Petrol|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|   113.75nm@ 4000rpm|    5|
|"Maruti Wagon R L...|500(kgm@ rpm)""|           5"|     NULL|  NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|  Maruti 800 DX BSII|           2001|        45000|     5000|Petrol|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|       59Nm@ 2500rpm|    4|
|    Toyota Etios VXD|           2011|       350000|    90000|Diesel|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp| 170Nm@ 1800-2400rpm|    5|
|Ford Figo Diesel ...|           2013|       200000|   169000|Diesel|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|      160Nm@ 2000rpm|    5|
|Renault Duster 11...|           2014|       500000|    68000|Diesel|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|      248Nm@ 2250rpm|    5|
|       Maruti Zen LX|           2005|        92000|   100000|Petrol|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|       78Nm@ 4500rpm|    5|
|Maruti Swift Dzir...|           2009|       280000|   140000|Diesel|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|      190Nm@ 2000rpm|    5|
|Maruti Swift 1.3 VXi|           2007|       200000|    80000|Petrol|      Manual|Second Owner|      NULL|   NULL|      NULL|                NULL| NULL|
|Maruti Wagon R LX...|           2009|       180000|    90000|Petrol|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|       84Nm@ 3500rpm|    5|
|Mahindra KUV 100 ...|           2016|       400000|    40000|Petrol|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp| 115Nm@ 3500-3600rpm|    5|
|Maruti Ertiga SHV...|           2016|       778000|    70000|Diesel|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|      200Nm@ 1750rpm|    7|
|Hyundai i20 1.4 C...|           2012|       500000|    53000|Diesel|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|      Maruti Alto LX|           2002|       150000|    80000|Petrol|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|       62Nm@ 3000rpm|    5|
|Hyundai i20 2015-...|           2016|       680000|   100000|Diesel|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|219.7Nm@ 1500-275...|    5|
+--------------------+---------------+-------------+---------+------+------------+------------+----------+-------+----------+--------------------+-----+
only showing top 20 rows

In [19]:
## Rename columns
df_pyspark.withColumnRenamed("name", "Name").show()

+--------------------+---------------+-------------+---------+------+------------+------------+----------+-------+----------+--------------------+-----+
|                Name|           year|selling_price|km_driven|  fuel|transmission|       owner|   mileage| engine| max_power|              torque|seats|
+--------------------+---------------+-------------+---------+------+------------+------------+----------+-------+----------+--------------------+-----+
|Maruti Swift Dzir...|           2014|       450000|   145500|Diesel|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|      190Nm@ 2000rpm|    5|
|Skoda Rapid 1.5 T...|           2014|       370000|   120000|Diesel|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp| 250Nm@ 1500-2500rpm|    5|
|"Honda City 2017-...|700(kgm@ rpm)""|           5"|     NULL|  NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|Hyundai i20 Sport...|           2010|       225000|   127000|Diesel|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|"Maruti Swift VXI...|500(kgm@ rpm)""|           5"|     NULL|  NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|Hyundai Xcent 1.2...|           2017|       440000|    45000|Petrol|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|   113.75nm@ 4000rpm|    5|
|"Maruti Wagon R L...|500(kgm@ rpm)""|           5"|     NULL|  NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|  Maruti 800 DX BSII|           2001|        45000|     5000|Petrol|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|       59Nm@ 2500rpm|    4|
|    Toyota Etios VXD|           2011|       350000|    90000|Diesel|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp| 170Nm@ 1800-2400rpm|    5|
|Ford Figo Diesel ...|           2013|       200000|   169000|Diesel|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|      160Nm@ 2000rpm|    5|
|Renault Duster 11...|           2014|       500000|    68000|Diesel|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|      248Nm@ 2250rpm|    5|
|       Maruti Zen LX|           2005|        92000|   100000|Petrol|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|       78Nm@ 4500rpm|    5|
|Maruti Swift Dzir...|           2009|       280000|   140000|Diesel|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|      190Nm@ 2000rpm|    5|
|Maruti Swift 1.3 VXi|           2007|       200000|    80000|Petrol|      Manual|Second Owner|      NULL|   NULL|      NULL|                NULL| NULL|
|Maruti Wagon R LX...|           2009|       180000|    90000|Petrol|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|       84Nm@ 3500rpm|    5|
|Mahindra KUV 100 ...|           2016|       400000|    40000|Petrol|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp| 115Nm@ 3500-3600rpm|    5|
|Maruti Ertiga SHV...|           2016|       778000|    70000|Diesel|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|      200Nm@ 1750rpm|    7|
|Hyundai i20 1.4 C...|           2012|       500000|    53000|Diesel|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|      Maruti Alto LX|           2002|       150000|    80000|Petrol|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|       62Nm@ 3000rpm|    5|
|Hyundai i20 2015-...|           2016|       680000|   100000|Diesel|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|219.7Nm@ 1500-275...|    5|
+--------------------+---------------+-------------+---------+------+------------+------------+----------+-------+----------+--------------------+-----+
only showing top 20 rows

In [20]:

df_pyspark.describe().show()

+-------+--------------------+------------------+-----------------+-----------------+------+------------+-----------+--------+-------+---------+--------------+-----------------+
|summary|                name|              year|    selling_price|        km_driven|  fuel|transmission|      owner| mileage| engine|max_power|        torque|            seats|
+-------+--------------------+------------------+-----------------+-----------------+------+------------+-----------+--------+-------+---------+--------------+-----------------+
|  count|                8127|              8127|             8127|             7836|  7786|        7786|       7786|    7565|   7565|     7571|          7565|             7565|
|   mean|                NULL|2014.0559979450295|656771.5358335474|68402.57397893655|  NULL|        NULL|       NULL|    NULL|   NULL|      0.0|          NULL|5.421943159286187|
| stddev|                NULL|3.9083854139681184|817445.1548889049|56636.91820093501|  NULL|        NULL|       NULL|    NULL|   NULL|      0.0|          NULL|0.954764655159725|
|    min|"Audi A4 1.8 TFSI...|         000 rpm""|        000 rpm""|                1|   CNG|   Automatic|First Owner|0.0 kmpl|1047 CC|        0|100Nm@ 2700rpm|                2|
|    max|Volvo XC90 T8 Exc...|             950-4|           999000|            99500|Petrol|      Manual|Third Owner|9.5 kmpl| 999 CC| 99.6 bhp| 99Nm@ 4500rpm|               14|
+-------+--------------------+------------------+-----------------+-----------------+------+------------+-----------+--------+-------+---------+--------------+-----------------+

In [21]:
## drop null values
df_pyspark.na.drop().show()

+--------------------+----+-------------+---------+------+------------+------------+----------+-------+----------+--------------------+-----+
|                name|year|selling_price|km_driven|  fuel|transmission|       owner|   mileage| engine| max_power|              torque|seats|
+--------------------+----+-------------+---------+------+------------+------------+----------+-------+----------+--------------------+-----+
|Maruti Swift Dzir...|2014|       450000|   145500|Diesel|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|      190Nm@ 2000rpm|    5|
|Skoda Rapid 1.5 T...|2014|       370000|   120000|Diesel|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp| 250Nm@ 1500-2500rpm|    5|
|Hyundai i20 Sport...|2010|       225000|   127000|Diesel|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|Hyundai Xcent 1.2...|2017|       440000|    45000|Petrol|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|   113.75nm@ 4000rpm|    5|
|  Maruti 800 DX BSII|2001|        45000|     5000|Petrol|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|       59Nm@ 2500rpm|    4|
|    Toyota Etios VXD|2011|       350000|    90000|Diesel|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp| 170Nm@ 1800-2400rpm|    5|
|Ford Figo Diesel ...|2013|       200000|   169000|Diesel|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|      160Nm@ 2000rpm|    5|
|Renault Duster 11...|2014|       500000|    68000|Diesel|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|      248Nm@ 2250rpm|    5|
|       Maruti Zen LX|2005|        92000|   100000|Petrol|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|       78Nm@ 4500rpm|    5|
|Maruti Swift Dzir...|2009|       280000|   140000|Diesel|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|      190Nm@ 2000rpm|    5|
|Maruti Wagon R LX...|2009|       180000|    90000|Petrol|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|       84Nm@ 3500rpm|    5|
|Mahindra KUV 100 ...|2016|       400000|    40000|Petrol|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp| 115Nm@ 3500-3600rpm|    5|
|Maruti Ertiga SHV...|2016|       778000|    70000|Diesel|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|      200Nm@ 1750rpm|    7|
|Hyundai i20 1.4 C...|2012|       500000|    53000|Diesel|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|      Maruti Alto LX|2002|       150000|    80000|Petrol|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|       62Nm@ 3000rpm|    5|
|Hyundai i20 2015-...|2016|       680000|   100000|Diesel|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|219.7Nm@ 1500-275...|    5|
|Mahindra Verito 1...|2011|       174000|   100000|Diesel|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|      160Nm@ 2000rpm|    5|
|Honda WR-V i-DTEC VX|2017|       950000|    50000|Diesel|      Manual| First Owner| 25.5 kmpl|1498 CC|  98.6 bhp|      200Nm@ 1750rpm|    5|
|Maruti Swift Dzir...|2015|       525000|    40000|Diesel|      Manual| First Owner|26.59 kmpl|1248 CC|    74 bhp|      190Nm@ 2000rpm|    5|
|      Maruti SX4 ZDI|2012|       600000|    72000|Diesel|      Manual| First Owner| 21.5 kmpl|1248 CC|  88.8 bhp|      200Nm@ 1750rpm|    5|
+--------------------+----+-------------+---------+------+------------+------------+----------+-------+----------+--------------------+-----+
only showing top 20 rows

In [22]:
## filter
df_pyspark.filter('selling_price>5950000').select(["name","selling_price"]).show()

+--------------------+-------------+
|                name|selling_price|
+--------------------+-------------+
|Mercedes-Benz S-C...|      6000000|
|Volvo XC90 T8 Exc...|     10000000|
|BMW 6 Series GT 6...|      6000000|
|BMW X7 xDrive 30d...|      7200000|
|BMW 6 Series GT 6...|      6000000|
|BMW 6 Series GT 6...|      6000000|
|Audi A6 35 TFSI M...|      6223000|
|Audi A6 35 TFSI M...|      6523000|
|Mercedes-Benz S-C...|      6000000|
|Mercedes-Benz S-C...|      6000000|
+--------------------+-------------+

In [23]:
##multy filter criteria
df_pyspark.filter((df_pyspark['selling_price']>=5950000) & (df_pyspark['seats']>=5) ).show()

+--------------------+----+-------------+---------+------+------------+--------------+----------+-------+----------+-------------------+-----+
|                name|year|selling_price|km_driven|  fuel|transmission|         owner|   mileage| engine| max_power|             torque|seats|
+--------------------+----+-------------+---------+------+------------+--------------+----------+-------+----------+-------------------+-----+
|Mercedes-Benz S-C...|2017|      6000000|    37000|Diesel|   Automatic|   First Owner| 13.5 kmpl|2987 CC|254.79 bhp|620Nm@ 1600-2400rpm|    5|
|BMW X7 xDrive 30d...|2020|      7200000|     5000|Diesel|   Automatic|   First Owner|13.38 kmpl|2993 CC|   265 bhp|620Nm@ 1500-2500rpm|    7|
|Audi A6 35 TFSI M...|2019|      6223000|     7800|Petrol|   Automatic|Test Drive Car|15.26 kmpl|1798 CC|187.74 bhp|320Nm@ 1400-4100rpm|    5|
|Audi A6 35 TFSI M...|2019|      6523000|    23600|Petrol|   Automatic|Test Drive Car|15.26 kmpl|1798 CC|187.74 bhp|320Nm@ 1400-4100rpm|    5|
|Mercedes-Benz S-C...|2017|      6000000|    37000|Diesel|   Automatic|   First Owner| 13.5 kmpl|2987 CC|254.79 bhp|620Nm@ 1600-2400rpm|    5|
|Mercedes-Benz S-C...|2017|      6000000|    37000|Diesel|   Automatic|   First Owner| 13.5 kmpl|2987 CC|254.79 bhp|620Nm@ 1600-2400rpm|    5|
+--------------------+----+-------------+---------+------+------------+--------------+----------+-------+----------+-------------------+-----+

In [24]:
df_pyspark.groupBy("year").count().filter("year>2012").show()

+----+-----+
|year|count|
+----+-----+
|2016|  859|
|2020|   74|
|2019|  583|
|2017| 1017|
|2014|  620|
|2013|  667|
|2018|  804|
|2015|  776|
+----+-----+

In [25]:
df_pyspark.groupBy("year").mean().filter("year>2012").show()

+----+------------------+
|year|        avg(seats)|
+----+------------------+
|2016| 5.463785046728972|
|2020| 5.243243243243243|
|2019| 5.204116638078903|
|2017| 5.313181367690783|
|2014|5.6025848142164785|
|2013| 5.603007518796993|
|2018|5.2789539227895395|
|2015| 5.598709677419355|
+----+------------------+

In [26]:
df_pyspark.agg({"year":"sum"}).show()

+----------+
| sum(year)|
+----------+
|1.568144E7|
+----------+

In [27]:
df_pyspark.agg({"seats":"max"}).show()

+----------+
|max(seats)|
+----------+
|        14|
+----------+

In [28]:
df_cars.groupBy("year").mean().filter("year>2012").show()

+----+------------------+
|year|        avg(seats)|
+----+------------------+
|2016| 5.463785046728972|
|2020| 5.243243243243243|
|2019| 5.204116638078903|
|2017| 5.313181367690783|
|2014|5.6025848142164785|
|2013| 5.603007518796993|
|2018|5.2789539227895395|
|2015| 5.598709677419355|
+----+------------------+

In [29]:
df_cars.printSchema()

root
 |-- name: string (nullable = true)
 |-- year: string (nullable = true)
 |-- selling_price: string (nullable = true)
 |-- km_driven: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- torque: string (nullable = true)
 |-- seats: integer (nullable = true)

In [30]:
df_cars.show()

+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+
|                name|           year|selling_price|km_driven|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|              torque|seats|
+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+
|Maruti Swift Dzir...|           2014|       450000|   145500|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|      190Nm@ 2000rpm|    5|
|Skoda Rapid 1.5 T...|           2014|       370000|   120000|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp| 250Nm@ 1500-2500rpm|    5|
|"Honda City 2017-...|700(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|Hyundai i20 Sport...|           2010|       225000|   127000|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|"Maruti Swift VXI...|500(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|Hyundai Xcent 1.2...|           2017|       440000|    45000|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|   113.75nm@ 4000rpm|    5|
|"Maruti Wagon R L...|500(kgm@ rpm)""|           5"|     NULL|  NULL|       NULL|        NULL|        NULL|      NULL|   NULL|      NULL|                NULL| NULL|
|  Maruti 800 DX BSII|           2001|        45000|     5000|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|       59Nm@ 2500rpm|    4|
|    Toyota Etios VXD|           2011|       350000|    90000|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp| 170Nm@ 1800-2400rpm|    5|
|Ford Figo Diesel ...|           2013|       200000|   169000|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|      160Nm@ 2000rpm|    5|
|Renault Duster 11...|           2014|       500000|    68000|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|      248Nm@ 2250rpm|    5|
|       Maruti Zen LX|           2005|        92000|   100000|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|       78Nm@ 4500rpm|    5|
|Maruti Swift Dzir...|           2009|       280000|   140000|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|      190Nm@ 2000rpm|    5|
|Maruti Swift 1.3 VXi|           2007|       200000|    80000|Petrol| Individual|      Manual|Second Owner|      NULL|   NULL|      NULL|                NULL| NULL|
|Maruti Wagon R LX...|           2009|       180000|    90000|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|       84Nm@ 3500rpm|    5|
|Mahindra KUV 100 ...|           2016|       400000|    40000|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp| 115Nm@ 3500-3600rpm|    5|
|Maruti Ertiga SHV...|           2016|       778000|    70000|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|      200Nm@ 1750rpm|    7|
|Hyundai i20 1.4 C...|           2012|       500000|    53000|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|22.4 kgm at 1750-...|    5|
|      Maruti Alto LX|           2002|       150000|    80000|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|       62Nm@ 3000rpm|    5|
|Hyundai i20 2015-...|           2016|       680000|   100000|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|219.7Nm@ 1500-275...|    5|
+--------------------+---------------+-------------+---------+------+-----------+------------+------------+----------+-------+----------+--------------------+-----+
only showing top 20 rows

In [31]:
from pyspark.sql.types import IntegerType,BooleanType,DateType
# Convert String to Integer Type
df_cars = df_cars.withColumn("year",df_cars.year.cast(IntegerType()))
df_cars = df_cars.withColumn("selling_price",df_cars.selling_price.cast(IntegerType()))
df_cars = df_cars.withColumn("km_driven",df_cars.km_driven.cast(IntegerType()))

In [32]:
df_cars.printSchema()

root
 |-- name: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- torque: string (nullable = true)
 |-- seats: integer (nullable = true)

In [102]:
training = df_cars['name','year','km_driven','selling_price']

In [103]:
training = training.na.drop()

In [104]:
from pyspark.sql.functions import desc, asc

In [105]:
training.orderBy(training.year.asc()).show()

+--------------------+----+---------+-------------+
|                name|year|km_driven|selling_price|
+--------------------+----+---------+-------------+
|Mahindra Willys C...|1983|    10000|       300000|
|Maruti Omni LPG S...|1991|   120000|        55000|
|Mahindra Jeep CL ...|1994|   100000|       120000|
|       Maruti 800 AC|1994|    60000|        45000|
|Ambassador Classi...|1994|   100000|        99000|
|Mahindra Jeep MM 540|1995|    90000|       160000|
|      Maruti 800 Std|1995|    70000|        55000|
|Mahindra Jeep Cla...|1996|     5000|       163000|
|       Maruti 800 DX|1996|    32000|        40000|
|       Maruti 800 AC|1996|    70000|        42000|
|       Maruti 800 DX|1997|    25000|        60000|
|Mahindra Jeep CL ...|1997|   100000|       160000|
|      Maruti 800 Std|1997|   110000|        50000|
|      Maruti Zen LXI|1997|   100000|        70000|
|       Maruti 800 AC|1997|    80000|        29999|
|    Maruti Esteem AX|1997|    94000|       125000|
|       Maruti 800 AC|1997|   120000|        50000|
|     Peugeot 309 GLD|1997|   110000|        57000|
|       Maruti 800 AC|1997|    60000|        50000|
|Maruti Gypsy King...|1997|   186388|       300000|
+--------------------+----+---------+-------------+
only showing top 20 rows

In [106]:
training = training.orderBy(training.year.desc())

In [107]:
training.show()

+--------------------+----+---------+-------------+
|                name|year|km_driven|selling_price|
+--------------------+----+---------+-------------+
| Datsun RediGO 1.0 S|2020|     2136|       350000|
|    Maruti Dzire LXI|2020|    15000|       550000|
|Mahindra KUV 100 ...|2020|    44665|       480000|
|  Maruti Celerio VXI|2020|    13000|       475000|
|Maruti Swift Dzir...|2020|     1500|       730000|
|Hyundai Xcent 1.2...|2020|    32000|       524000|
| Maruti Alto K10 VXI|2020|     6000|       390000|
|Honda Civic ZX Di...|2020|     5500|      2125000|
|Hyundai Creta 1.6...|2020|     2700|      1950000|
|Hyundai Elite i20...|2020|     5000|       720000|
|MG Hector Sharp D...|2020|     1600|      1900000|
|Maruti Eeco CNG 5...|2020|    35000|       409999|
|  Maruti Celerio ZXI|2020|    25000|       420000|
|Kia Seltos HTX Pl...|2020|     5000|      1900000|
|    Maruti Dzire VXI|2020|    70000|       580000|
|  Mahindra XUV500 W7|2020|   120000|       830000|
|Maruti Celerio X ZXI|2020|   120000|       250000|
|Hyundai Grand i10...|2020|     5000|       675000|
|Tata Nexon 1.2 Re...|2020|     5000|       950000|
|Ford Freestyle Ti...|2020|     5000|       400000|
+--------------------+----+---------+-------------+
only showing top 20 rows

In [108]:
training.printSchema()

root
 |-- name: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- selling_price: integer (nullable = true)

In [109]:
training

DataFrame[name: string, year: int, km_driven: int, selling_price: int]

In [110]:
print((training.count(), len(training.columns)))

(7786, 4)

In [111]:
from pyspark.ml.feature import VectorAssembler
featureaseembler=VectorAssembler(inputCols=["year","km_driven"],outputCol="Independ Features")

In [112]:
output=featureaseembler.transform(training)

In [113]:
output.show()

+--------------------+----+---------+-------------+-----------------+
|                name|year|km_driven|selling_price|Independ Features|
+--------------------+----+---------+-------------+-----------------+
|Ford Freestyle Ti...|2020|     5000|       400000|  [2020.0,5000.0]|
|  Maruti Celerio VXI|2020|    13000|       475000| [2020.0,13000.0]|
|Hyundai Elite i20...|2020|     5000|       720000|  [2020.0,5000.0]|
|Hyundai Xcent 1.2...|2020|    32000|       524000| [2020.0,32000.0]|
|Maruti Eeco CNG 5...|2020|    35000|       409999| [2020.0,35000.0]|
| Datsun RediGO 1.0 S|2020|     2136|       350000|  [2020.0,2136.0]|
|Mahindra KUV 100 ...|2020|    44665|       480000| [2020.0,44665.0]|
|Maruti Swift Dzir...|2020|     1500|       730000|  [2020.0,1500.0]|
| Maruti Alto K10 VXI|2020|     6000|       390000|  [2020.0,6000.0]|
|Maruti Alto 800 V...|2020|    15000|       370000| [2020.0,15000.0]|
|Kia Seltos HTX Pl...|2020|     5000|      1900000|  [2020.0,5000.0]|
|Toyota Innova Cry...|2020|    20102|      1560000| [2020.0,20102.0]|
|  Mahindra XUV500 W7|2020|   120000|       830000|[2020.0,120000.0]|
| Maruti Baleno Delta|2020|     5000|       630000|  [2020.0,5000.0]|
|Hyundai Grand i10...|2020|     5000|       675000|  [2020.0,5000.0]|
|Honda Civic ZX Di...|2020|     5500|      2125000|  [2020.0,5500.0]|
|Hyundai Creta 1.6...|2020|     2700|      1950000|  [2020.0,2700.0]|
|MG Hector Sharp D...|2020|     1600|      1900000|  [2020.0,1600.0]|
|  Maruti Celerio ZXI|2020|    25000|       420000| [2020.0,25000.0]|
|    Maruti Dzire VXI|2020|    70000|       580000| [2020.0,70000.0]|
+--------------------+----+---------+-------------+-----------------+
only showing top 20 rows

In [115]:
finalized_data=output.select("Independ Features","selling_price")

In [116]:
finalized_data.show()

+-----------------+-------------+
|Independ Features|selling_price|
+-----------------+-------------+
|  [2020.0,5000.0]|       400000|
| [2020.0,13000.0]|       475000|
|  [2020.0,5000.0]|       720000|
| [2020.0,32000.0]|       524000|
| [2020.0,35000.0]|       409999|
|  [2020.0,2136.0]|       350000|
| [2020.0,44665.0]|       480000|
|  [2020.0,1500.0]|       730000|
|  [2020.0,6000.0]|       390000|
| [2020.0,15000.0]|       370000|
|  [2020.0,5000.0]|      1900000|
| [2020.0,20102.0]|      1560000|
|[2020.0,120000.0]|       830000|
|  [2020.0,5000.0]|       630000|
|  [2020.0,5000.0]|       675000|
|  [2020.0,5500.0]|      2125000|
|  [2020.0,2700.0]|      1950000|
|  [2020.0,1600.0]|      1900000|
| [2020.0,25000.0]|       420000|
| [2020.0,70000.0]|       580000|
+-----------------+-------------+
only showing top 20 rows

In [118]:
from pyspark.ml.regression import LinearRegression
## train test split
train_data, test_data=finalized_data.randomSplit([0.75,0.25])
reggresor=LinearRegression(featuresCol='Independ Features', labelCol='selling_price')
reggresor=reggresor.fit(train_data)

In [119]:
### Coefficeients
reggresor.coefficients

DenseVector([80403.1737, -0.8804])

In [120]:
### Intercepts
reggresor.intercept

-161213564.79497066

In [121]:
### Prediction
pred_result=reggresor.evaluate(test_data)

In [122]:
pred_result.predictions.show()

+-----------------+-------------+-------------------+
|Independ Features|selling_price|         prediction|
+-----------------+-------------+-------------------+
|[1994.0,100000.0]|       120000| -977673.8969731927|
| [1996.0,70000.0]|        42000| -790456.3271164596|
| [1997.0,25000.0]|        60000| -670436.3196797669|
|[1997.0,110000.0]|        50000| -745268.1167866886|
|[1997.0,120000.0]|        40000| -754071.8576228023|
| [1998.0,40000.0]|        35000| -603238.7572597265|
| [1998.0,50000.0]|        55000| -612042.4980958402|
| [1998.0,70000.0]|        40000| -629649.9797680676|
| [1998.0,80000.0]|        45000| -638453.7206041813|
| [1999.0,50000.0]|        40000| -531639.3244216442|
| [1999.0,60000.0]|        50000| -540443.0652577579|
|[1999.0,100000.0]|        40000| -575658.0286021829|
| [2000.0,50000.0]|        45000| -451236.1507474184|
|[2000.0,120000.0]|        95000|-512862.33660018444|
|[2000.0,180000.0]|        50000| -565684.7816168368|
|[2001.0,137000.0]|        45000|-447425.52234736085|
| [2002.0,60000.0]|        56000| -299233.5442351401|
| [2002.0,62000.0]|        50000|-300994.29240235686|
| [2002.0,75000.0]|        35000| -312439.1554892957|
| [2002.0,80000.0]|        75000|-316841.02590736747|
+-----------------+-------------+-------------------+
only showing top 20 rows

In [123]:
pred_result.meanAbsoluteError, pred_result.meanSquaredError

(372034.98477609846, 459394107053.49695)